.home-page {
  height: 100%;
}

.recipe-board-wrapper {
  display: grid;
  justify-content: center;
  align-content: center;

  height: 100vh;
}

.spacer-search-bar {
  height: 190px;
}

.spacer50 {
  height: 50px;
  grid-row: bottomspacer-t/bottomspacer-b;
}

.recipe-board-grid {
  display: grid;
  grid-template-rows: [topspacer-t] 50px [topspacer-b recipe-t] auto [recipe-b bottomspacer-t] auto [bottomspacer-b];
  overflow-y: scroll;
  width: 100vw;
  justify-content: center;
}
.recipe-board {
  display: grid;
  width: 90vw;
  align-items: center;
  justify-content: center;
  grid-row: recipe-t/recipe-b;
  grid-template-columns: repeat(auto-fill, 360px);
  gap: 3rem;
}

.test-field {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
