.home-page {
  height: 100%;
}

.recipe-board-wrapper {
  padding-top: 228px;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-bottom: 100px;
}

.recipe-board {
  display: grid;
  width: 90vw;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-gap: 3rem;
}
