@media screen and (max-width: 700px) {
  .nav-bar {
    height: 48px;
    font-size: 1.5rem;
  }

  .search-bar-wrapper {
    margin-top: 48px;

    .search-bar-icon {
      width: 36px;
      height: 36px;
      font-size: 1rem;
    }

    .search-bar {
      height: 45px;
      margin-top: 12px;
      margin-bottom: 12px;
    }

    input {
      height: 24px;
      font-size: 1rem;
    }

    input::placeholder {
      font-size: 1rem;
    }
  }

  .recipe-board {
    grid-template-columns: repeat(auto-fill, 300px);
  }

  .recipe-card {
    height: 400px;
    width: 300px;
    grid-template-rows: [img-t] 300px [img-b title-t] 3fr [title-b info1-t] 2fr [info1-b info2-t] 2fr [info2-b];

    &__title {
      font-size: 1.25rem;
    }

    img {
      width: 300px;
      height: 300px;
    }
  }

  .recipe-page {
    width: 95vw;
    padding-top: 48px;

    grid-template-columns: [s] 1fr [e];
    grid-template-rows: [image-t] max-content [image-b info-t] max-content [info-b ingredients-t] max-content [ingredients-b directions-t] max-content [directions-b] 10px;
  }

  .recipe-info {
    grid-column: s/e;
    grid-row: info-t/info-b;
  }

  .recipe-ingredients {
    grid-column: s/e;
    grid-row: ingredients-t/ingredients-b;
    overflow-y: inherit;
  }

  .recipe-directions {
    grid-column: s/e;
    grid-row: directions-t/directions-b;
    overflow-y: inherit;
  }

  .recipe-images {
    grid-column: s/e;
    grid-row: image-t/image-b;
  }

  .add-recipe-modal {
    width: 80vw;
  }

  .account-menu {
    top: 48px;
  }

  .spacer-search-bar {
    height: 140px;
  }

  .add-recipe-modal-grid {
    grid-template-columns: 10px [start] auto [end] 10px;
  }

  .my-recipes-title {
    font-size: 1.5rem;
    margin-top: 80px;
  }

  .add-recipe-scroll {
    width: 80vw;
  }

  .add-ingredient {
    .add-ingredient-inputs {
      grid-template-columns: [quantity-s] 60px [quantity-e unit-s] 60px [unit-e ingredient-s] 3fr [ingredient-e];
      grid-template-rows: [s] auto [m] auto [e];
    }

    .add-ingredient-button {
      grid-column: quantity-s/ingredient-e;
      grid-row: m/e;

      transform: translateY(0px);
    }
  }
  .add-ingredient-input {
    &__quantity {
      grid-column: quantity-s/quantity-e;
      grid-row: s/m;
    }
    &__unit {
      grid-column: unit-s/unit-e;
      grid-row: s/m;
    }
    &__ingredient {
      grid-column: ingredient-s/ingredient-e;
      grid-row: s/m;
    }
  }
  .add-direction-input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
