.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-and-input {
  width: 100%;
}

.login-modal {
  width: max-content;
  height: max-content;
  align-self: center;
  justify-self: center;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  border: 2px solid rgb(235, 235, 235);
}

.login-modal-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: [close-t] min-content [close-b email-t] auto [email-b password-t] auto [password-b error-t] 20px [error-b buttons-t] 60px [buttons-b];
  grid-template-columns: [s] auto [e];
  row-gap: 10px;
  .title-grid {
    grid-row: close-t/close-b;
    grid-column: s/e;

    div {
      align-self: center;
      grid-row: s/e;
      grid-column: s/e;

      font-size: 1.5rem;
      text-align: center;
    }
  }
  .input-and-label {
    display: grid;
    grid-template-rows: [input-t] auto [input-b label-t] auto [label-b];

    label {
      grid: label-t/label-b;
      font-size: 0.9rem;
      justify-self: center;
    }

    input {
      grid-row: input-t/input-b;
      height: 24px;
      font-size: 1.25rem;
      border: none;
      border-bottom: 2px solid lightgray;
      text-align: center;
      outline: none;
    }

    input:focus {
      border-bottom: 2px solid gray;
    }
  }
  .login-input__button-wrapper {
    align-self: center;
    grid-row: buttons-t/buttons-b;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.5rem;
    background-color: $primary-color;
    color: $light-text;
  }
  .login-error-message {
    grid-row: error-t/error-b;
    justify-self: center;
    color: red;
    font-style: italic;
  }
}

.register-modal {
  width: max-content;
  height: max-content;
  align-self: center;
  justify-self: center;

  background-color: white;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgb(235, 235, 235);
}

.register-modal-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: [close-t] min-content [close-b username-t] auto [username-b email-t] auto [email-b password-t] auto [password-b repassword-t] auto [repassword-b error-t] 20px [error-b buttons-t] 60px [buttons-b];
  grid-template-columns: [s] auto [e];
  justify-items: center;
  row-gap: 10px;

  .title-grid {
    width: 100%;
    grid-row: close-t/close-b;
    grid-column: s/e;

    div {
      align-self: center;
      grid-row: s/e;
      grid-column: s/e;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .input-and-label {
    display: grid;
    grid-template-rows: [input-t] auto [input-b label-t] auto [label-b];

    label {
      grid: label-t/label-b;
      font-size: 0.9rem;
      justify-self: center;
    }

    input {
      grid-row: input-t/input-b;
      height: 24px;
      font-size: 1.25rem;
      border: none;
      border-bottom: 2px solid lightgray;
      text-align: center;
      outline: none;
    }

    input:focus {
      border-bottom: 2px solid gray;
    }
  }
  .register-input {
    &__button-wrapper {
      display: flex;
      justify-content: space-between;
      align-self: center;
      width: 100%;
      grid-row: buttons-t/buttons-b;
    }

    &__button {
      margin-top: 20px;
      border-radius: 20px;
      width: 100%;
      height: 40px;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
      background-color: $primary-color;
      color: $light-text;
    }
  }
  .register-error-message {
    grid-row: error-t/error-b;
    justify-self: center;
    color: red;
    font-style: italic;
  }
}

.add-recipe-modal {
  width: 900px;
  height: 80vh;

  align-self: center;
  justify-self: center;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  border: 2px solid rgb(235, 235, 235);
}

.add-recipe-scroll {
  overflow-y: scroll;
  display: flex;
  justify-items: center;
  height: 100%;
  overflow-x: hidden;
}
.add-recipe-modal-grid {
  width: 100%;
  display: grid;
  flex-direction: column;
  grid-template-rows: [title-t] 70px [title-b image-t] auto [image-b info-t] auto [info-b ingredients-t] auto [ingredients-b directions-t] auto [directions-b error-t] auto [error-b submit-t] 60px [submit-b];
  grid-template-columns: 30px [ start] auto [end] 30px;
  row-gap: 10px;

  .recipe-info {
    display: flex;
    grid-row: info-t/info-b;
    grid-column: start/end;
    flex-direction: column;
  }
}

.directions {
  grid-row: directions-t/directions-b;
  grid-column: start/end;
  // width: 80vw;
}
.add-ingredient {
  // width: 80vw;
  display: flex;
  grid-row: ingredients-t/ingredients-b;
  grid-column: start/end;
  flex-direction: column;
  justify-content: center;

  .ingredient-list {
    display: flex;
    flex-direction: column;

    padding: 10px;
  }

  .add-ingredient-inputs {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: [quantity-s] 60px [quantity-e unit-s] 60px [unit-e ingredient-s] 3fr [ingredient-e button-s] max-content [button-e];
    gap: 10px;
    align-self: center;
  }

  .add-ingredient-button {
    margin-top: 10px;
    justify-self: center;
    width: max-content;
    cursor: pointer;
    font-size: 1.25rem;
    background-color: $primary-color;
    grid-column: button-s/button-e;
    color: $light-text;
    border-radius: 24px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateY(-18px);
  }
}

.add-ingredient-input {
  display: grid;
  grid-template-rows: [input-t] auto [input-b label-t] auto [label-b];

  &__quantity {
    grid-column: quantity-s/quantity-e;
  }
  &__unit {
    grid-column: unit-s/unit-e;
  }
  &__ingredient {
    grid-column: ingredient-s/ingredient-e;
  }

  label {
    grid: label-t/label-b;
    font-size: 0.9rem;
    justify-self: center;
  }

  input {
    grid-row: input-t/input-b;
    height: 24px;
    font-size: 1.25rem;
    border: none;
    border-bottom: 2px solid lightgray;
    text-align: center;
    outline: none;
  }

  input:focus {
    border-bottom: 2px solid gray;
  }

  .quantity {
    width: 60px;
  }

  .unit {
    width: 60px;
  }

  .ingredient {
    text-align: left;
  }
}

.ingredient-list__ingredient {
  display: flex;
  align-items: center;

  font-size: 1.5rem;

  .up-down-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    cursor: pointer;
  }
  button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
  }
}

.add-ingredient__error-message {
  // width: 80vw;
  height: 20px;
}

.title {
  justify-self: center;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid grey;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;

  font-size: 1.5rem;
}

.add-direction-input {
  margin-top: 20px;
  display: grid;

  grid-template-columns: [input-t] auto [input-b label-t] max-content [label-b];
  grid-template-rows: [top] auto [bottom];

  label {
    grid-column: label-t/label-b;
    grid-row: top/bottom;

    justify-self: center;
    margin-left: 10px;
    align-self: center;
    width: max-content;

    font-size: 1.25rem;
    background-color: $primary-color;

    color: $light-text;
    border-radius: 24px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }

  input {
    grid-column: input-t/input-b;
    grid-row: top/bottom;
    height: 24px;
    font-size: 1.25rem;
    border: none;
    border-bottom: 2px solid lightgray;
    text-align: left;
    outline: none;

    ::placeholder {
      font-size: 1.25rem;
    }
  }

  input:focus {
    border-bottom: 2px solid gray;
  }
}

.direction-list {
  align-items: center;

  font-size: 1.5rem;

  &__direction {
    display: flex;

    .remove-direction {
      align-self: flex-start;
      margin-top: 10px;
    }

    .up-down-buttons {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      margin-right: 5px;
    }
    button {
      cursor: pointer;
      outline: none;
      background-color: transparent;
      border: none;
    }
  }
}

.add-recipe-button {
  cursor: pointer;
  // width: 80vw;
  grid-row: submit-t/submit-b;
  grid-column: start/end;
  width: max-content;
  font-size: 1.5rem;
  background-color: $primary-color;
  align-self: center;
  color: $light-text;
  border-radius: 24px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  justify-self: center;
  align-self: center;
  margin-bottom: 10px;
}

.add-recipe-error-message {
  grid-row: error-t/error-b;
  grid-column: start/end;
  justify-self: center;
  color: red;
  font-style: italic;
}

.recipe-info-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: [servings-s] 1fr [servings-e activetime-s] 1fr [activetime-e totaltime-s] 1fr [totaltime-e];
  grid-template-rows: [title-t] max-content [title-b info-t] max-content [info-b description-t] 200px [description-b];
  gap: 20px;

  .input-and-label {
    display: grid;
    grid-template-rows: [input-t] auto [input-b label-t] auto [label-b];

    label {
      grid: label-t/label-b;
      font-size: 0.9rem;
      justify-self: center;
    }

    input {
      grid-row: input-t/input-b;
      height: 24px;
      font-size: 1.25rem;
      border: none;
      border-bottom: 2px solid lightgray;
      text-align: center;
      outline: none;
    }

    input:focus {
      border-bottom: 2px solid gray;
    }

    textarea {
      grid-row: input-t/input-b;

      font-size: 1.25rem;
      font-family: "Urbanist", sans-serif;
      border: 2px solid lightgray;
      border-radius: 8px;
      text-align: left;
      outline: none;
      padding: 10px;
    }

    textarea::placeholder {
      font-family: "Urbanist", sans-serif;
    }
    textarea:focus {
      border: 2px solid gray;
    }
  }

  .servings {
    grid-column: servings-s/servings-e;
    grid-row: info-t/info-b;
    align-self: flex-end;
    width: 100%;
  }

  .title-input {
    grid-column: servings-s/totaltime-e;
    grid-row: title-t/title-b;

    width: 100%;
    input {
      width: 100%;
    }
  }

  .active-time {
    grid-column: activetime-s/activetime-e;
    grid-row: info-t/info-b;
    align-self: center;
    width: 100%;
  }

  .total-time {
    grid-column: totaltime-s/totaltime-e;
    grid-row: info-t/info-b;
    align-self: flex-start;
    width: 100%;
  }

  .description {
    grid-column: servings-s/totaltime-e;
    grid-row: description-t/description-b;
    width: 100%;
    height: 200px;
    font-family: "Urbanist", sans-serif;
    text-align: left;

    label {
      text-align: right;
    }
  }
}

.title-grid {
  display: grid;
  grid-row: title-t/title-b;
  // width: 80vw;
  height: 100%;

  grid-column: start/end;
  grid-template-columns: [s]1fr[e];
  grid-template-rows: [s]1fr[e];

  div {
    align-self: center;
    grid-row: s/e;
    grid-column: s/e;
    align-self: flex-end;
  }

  button {
    cursor: pointer;
    grid-row: s/e;
    grid-column: s/e;
    background-color: transparent;
    outline: none;
    color: grey;
    border: none;
    font-size: 1.5rem;
    justify-self: flex-end;
    align-self: flex-start;
  }
}

.dz-message {
  display: flex;
  width: 100%;

  // height: 100px;

  align-items: center;
  justify-content: center;
}

.dropzone .dz-preview.dz-image-preview {
  background: #e1e1e1 !important;
}

.image-uploader {
  grid-row: image-t/image-b;
  grid-column: start/end;
  display: flex;
  justify-content: center;
  align-content: center;

  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
  }

  .image-removal-link {
    cursor: pointer;
    text-align: center;
  }
}
