.nav-bar {
  display: grid;
  grid-template-columns: [hamburger-s] 1fr [hamburger-e logo-s] 1fr [logo-e account-s] 1fr [account-e];
  background-color: $primary-color;
  height: 36px;

  padding: 10px;
  color: $light-text;
  font-size: 36px;

  * {
    color: $light-text;
  }

  &__hamburger {
    padding-left: 10px;
    grid-column: hamburger-s/hamburger-e;
  }

  &__logo {
    grid-column: logo-s/logo-e;
    justify-self: center;
  }

  &__account {
    grid-column: account-s/account-e;
    justify-self: end;
    padding-right: 10px;
  }
}
