.nav-bar {
  position: fixed;
  display: grid;
  width: 100vw;
  grid-template-columns: [hamburger-s] 1fr [hamburger-e logo-s] 1fr [logo-e account-s] 1fr [account-e];

  background-color: $primary-color;
  height: 68px;

  color: $light-text;
  font-size: 2.25rem;

  * {
    color: $light-text;
  }

  &__hamburger {
    margin-left: 20px;
    grid-column: hamburger-s/hamburger-e;

    outline: transparent;
    background-color: transparent;
    border: none;
    align-self: center;
  }

  &__logo {
    grid-column: logo-s/logo-e;
    justify-self: center;
    text-decoration: none;
    align-self: center;
  }

  &__account {
    grid-column: account-s/account-e;
    justify-self: end;
    margin-right: 20px;
    outline: transparent;
    background-color: transparent;
    border: none;
    align-self: center;
  }
}

.nav-bar__icon-border {
  border-radius: 8px;
  height: 40px;
  width: 40px;
  display: flex;

  justify-content: center;
  align-items: center;

  &__unselected {
    background-color: $primary-color;
    * {
      font-size: 1.9rem;
      color: $light-text;
    }
  }

  &__selected {
    background-color: $light-text;
    * {
      color: $primary-color;
      font-size: 1.9rem;
    }
  }
}

.account-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 68px;
  width: 100px;
  height: auto;
  background-color: rgba(30, 30, 30, 0.9);
  transition: all 0.2s ease-in-out;

  &__closed {
    right: -100px;
  }

  &__open {
    right: 0px;
  }

  .account-button {
    font-family: "Urbanist", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: $light-text;
    margin: 10px;
  }
}
