.search-bar-wrapper {
  transition: height 0.3s ease-in-out;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__collapsed {
    height: 200px;
  }

  &__open {
    height: 600px;
  }
}

.search-bar {
  height: 60px;
  border-radius: 35px;
  border-color: $primary-color;
  outline: $primary-color;
  width: 600px;
}

input {
  height: 30px;
  border-color: $primary-color;
  border-style: solid;
  outline: $primary-color;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 24px;
}

input::placeholder {
  font-size: 24px;
}
