.search-bar-wrapper {
  position: fixed;
  transition: height 0.3s ease-in-out;
  width: 100%;
  display: grid;
  column-gap: 3px;
  height: auto;
  box-shadow: 0px 5px 5px 0px #afafaf;
  margin-top: 68px;
  background-color: white;
  grid-template-columns:
    [spacer-s] 1fr [spacer-e searchbar-s] minmax(220px, 2fr)
    [searchbar-e icons-s] 1fr [icons-e];
  grid-template-rows: [searchbar-t] auto [searchbar-b];

  i {
    color: $light-text;
  }

  .search-bar-icons {
    margin-top: 24px;
    align-self: center;
    grid-row: searchbar-t/searchbar-b;
    grid-column: icons-s/icons-e;
    display: flex;
    justify-content: center;
    justify-self: flex-start;
    margin-bottom: 24px;
    align-items: flex-start;
  }
  .search-bar-icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: $primary-color;
    padding: 10px;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    outline: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;

    &__selected {
      background-color: $primary-color;
      color: $light-text;
    }
  }

  .search-bar {
    height: 60px;

    width: auto;

    margin-top: 24px;
    align-self: center;

    grid-row: searchbar-t/searchbar-b;
    grid-column: searchbar-s/searchbar-e;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  input {
    width: 100%;
    height: 30px;

    outline: none;
    border: none;
    border-bottom: 2px solid lightgray;
    font-size: 1.5rem;
  }

  input::placeholder {
    font-size: 1.5rem;
  }

  input:focus {
    border-bottom: 2px solid gray;
  }
}
