.search-bar-wrapper {
  position: fixed;
  transition: height 0.3s ease-in-out;
  width: 100%;
  display: grid;

  height: auto;
  box-shadow: 0px 5px 5px 0px #afafaf;
  margin-top: 68px;
  background-color: white;
  grid-template-columns: 1fr;
  grid-template-rows: [searchbar-t] auto [searchbar-b];

  i {
    color: $light-text;
  }

  .search-bar-and-icons {
    margin-top: 24px;
    align-self: center;
    grid-row: searchbar-t/searchbar-b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  .search-bar-icon {
    font-size: 24px;
    color: $primary-color;
    padding: 10px;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    outline: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;

    &__selected {
      background-color: $primary-color;
      color: $light-text;
    }
  }

  .search-bar {
    height: 60px;
    border-radius: 35px;
    border-color: $primary-color;
    outline: $primary-color;
    width: 600px;
    margin-right: 10px;
  }

  input {
    height: 30px;
    border-color: $primary-color;
    border-style: solid;
    outline: $primary-color;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 24px;
  }

  input::placeholder {
    font-size: 24px;
  }
}
